/* ==UserStyle==
@name           GitHub Review Request Helper
@namespace      guillermobarrera7.github
@version        1.1.4
@description    Github helper for the masses!
@author         guillermobarrera7
@updateURL      https://raw.githubusercontent.com/Guillermobarrera7/githubUserCss/main/github.user.css
@preprocessor   stylus

@var            color readyColor "No reviews color" #2bff00
@var            color soonColor "1 review color" #fc0
@var            color waitColor "2+ reviews color" #ff2400
@var            color changesColor "Changes requested color" #00ddff

@var            checkbox reviewPill "Pill-styled review states" 1

@var            color specialRepoColor "Special repo color" #c0c
@var            text githubUsername "GitHub username" "guillermobarrera7"

==/UserStyle== */

@-moz-document url-prefix("https://github.com/") {
  :root {
      --readyColor: #2bff00;
      --soonColor: #fc0;
      --waitColor: #ff2400;
      --changesColor: #00ddff;
      --specialRepoColor: #c0c;
  }

  .Link--muted.tooltipped.tooltipped-s[aria-label="Review required before merging"] {
      --selectedColor: var(--waitColor);
  }

  .Link--muted.tooltipped.tooltipped-s[aria-label="1 review approval"] {
      --selectedColor: var(--soonColor);
  }

  .Link--muted.tooltipped.tooltipped-s[aria-label$="review approvals"] {
      --selectedColor: var(--readyColor);
  }

  .Link--muted.tooltipped.tooltipped-s[aria-label$="requesting changes"] {
      --selectedColor: var(--changesColor);
  }

  a[data-hovercard-type="repository"][href$="ecom"],
  a[data-hovercard-type="repository"][href$="underwriting"],
  a[data-hovercard-type="repository"][href$="global_customer"] {
      color: var(--specialRepoColor) !important;
  }

  #js-issues-search.subnav-search-input:not([value*="guillermobarrera7"]) {
      color: red;
  }

  .public .Label--secondary {
      color: limegreen;
  }

  .public.archived .Label--secondary {
      color: green;
  }

  .private .Label--secondary {
      color: red;
  }

  .private.archived .Label--secondary {
      color: darkred;
  }

  /* Pills for review states */
  .Link--muted.tooltipped.tooltipped-s {
      if reviewPill {
          display: inline-block;
          padding: 0 7px;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          white-space: nowrap;
          border: 1px solid transparent;
          border-radius: 2em;
          border-color: var(--selectedColor);
      }

      color: var(--selectedColor) !important;
      font-style: italic;
  }
}
